.advList {
  background-color: $colorBg;
  text-align: center;
  @include media(mtp) {
    padding-bottom: 90px;
  }
  @include media(msl) {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
.advList__inner {
}
.advList__heading {
  margin-right: auto;
  margin-left: auto;
  max-width: 15em;
  margin-bottom: 70px;
  @include media(msl) {
    margin-bottom: 50px;
  }
}
.advList__list {
  margin-top: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 100px;
  @include media(mtp) {
    margin-bottom: 80px;
  }
  @include media(msl) {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
}
.advList__item {
  list-style-type: none;
  padding: 0 20px;
  box-sizing: border-box;
  @include media(mtl) {
    flex-basis: 25%;
    font-size: 16px;
  }
  @include media(mtp) {
    padding: 0 10px;
    font-size: 14px;
  }
  @include media(msl) {
    padding: 0 20px;
    flex-basis: 50%;
    margin-bottom: 50px;
  }
  @include media(msp) {
    flex-basis: 100%;
    font-size: 16px;
  }

  // icons
  &:nth-child(1)::before {
    background-image: url(../images/devices.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../images/time.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../images/pass-exam.svg);
  }
  &:nth-child(4)::before {
    background-image: url(../images/money.svg);
  }
  &::before {
    content: '';
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 25px;
    @include media(mtp) {
      width: 70px;
      height: 70px;
      margin-bottom: 15px;
    }
    @include media(msl) {
      width: 60px;
      height: 60px;
    }
  }
}
.advList__button {
}
