.advantages {
  padding-top: 130px;
  padding-bottom: 180px;
  background-image: url(../images/bg/advantages-bg.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  @include media(mtp) {
    padding-top: 90px;
    padding-bottom: 110px;
  }
  @include media(msl) {
    padding-top: 70px;
    padding-bottom: 100px;
  }
}
.advantages__inner {
}
.advantages__heading {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 15em;
  margin-bottom: 90px;
  @include media(msl) {
    margin-bottom: 70px;
  }
}
.advantages__comparison {
  display: flex;
  justify-content: space-between;
  @include media(msp) {
    display: block;
  }
}
.advantages__item {
  $padding-d: 80px;
  $padding-t: 30px;
  width: 50%;
  box-sizing: border-box;
  @include media(msp) {
    width: auto;
  }
  &.-course {
    border-right: 1px solid rgba(#fff, 0.3);
    padding-right: $padding-d;
    @include media(mtp) {
      padding-right: $padding-t;
    }
    @include media(msp) {
      border-right: none;
      padding-right: 0;
      margin-bottom: 70px;
    }
    .advantages__title::after {
      background-color: hsl(120, 46%, 54%);
    }
    .advantages__body {
      ul {
        li::before {
          //background-color: hsl(120, 46%, 54%);
          background-image: url(../images/tick.svg);
        }
      }
    }
  }
  &.-tutor {
    padding-left: 80px;
    @include media(mtp) {
      padding-left: $padding-t;
    }
    @include media(msp) {
      padding-left: 0;
    }
    .advantages__title::after {
      background-color: hsl(0, 46%, 54%);
    }
    .advantages__body {
      ul {
        li::before {
          //background-color: hsl(0, 46%, 54%);
          background-image: url(../images/cross.svg);
        }
      }
    }
  }
}
.advantages__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  position: relative;
  margin-bottom: 50px;
  @include media(mtp) {
    font-size: 22px;
  }
  @include media(msl-only) {
    min-height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &::after {
    content: '';
    display: block;
    margin-top: 12px;
    height: 3px;
    width: 120px;
  }
}
.advantages__body {
  font-size: 18px;
  @include media(mtp) {
    font-size: 16px;
  }
  @include media(msl) {
    font-size: 14px;
  }
  ul {
    padding-left: 0;
    margin-top: 0;
    li {
      list-style-type: none;
      margin-bottom: 30px;
      position: relative;
      padding-left: 70px;
      @include media(mtp) {
        padding-left: 55px;
      }
      @include media(msl-only) {
        padding-left: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 0;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
        @include media(mtp) {
          width: 30px;
          height: 30px;
        }
        @include media(msl-only) {
          position: static;
          margin-bottom: 10px;
        }
      }
    }
  }
}
