.am {
    z-index: 999;
    background-color: $colorBg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px -2px #232323;
    transition-duration: 0.3s;
    transform: translateY(-150%);
    &.-active {
        transform: translateY(0);
    }
}

.am__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include grid;
}
.am__branding {}
.am__menu {}