.block {
    padding-top: 100px;
    padding-bottom: 130px;
}
.block__inner {
    @include grid;
}
.block__heading {
    font-size: 40px;
    margin-bottom: 25px;
    line-height: 1.15;
    @include media(mtl) {
        font-size: 34px;
    }
}
.block__descr {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 2.5em;
    @include media(mtl) {
        font-size: 18px;
    }
    @include media(msp) {
        font-size: 16px;
    }
}