.branding {
    font-family: $fontTitle;
    color: inherit;
    text-decoration: none;
    &.-footer {
        display: flex;
        justify-content: space-between;
        .branding__logo {
            flex-shrink: 0;
        }
        .branding__siteName {
            display: block;
            margin-bottom: 10px;
        }
    }
}
.branding__inner {
    //display: block;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}
.branding__logo {
    display: block;
    cursor: pointer;
    width: 55px;
    margin-right: 25px;
    &.-footer {
        width: 160px;
    }

    @at-root .am & {
        //width: 170px;
    }
}
.branding__siteName {
    font-family: $fontTitle;
    //text-transform: uppercase;
    //letter-spacing: 0.06em;
    cursor: pointer;
    font-size: 26px;
    font-weight: 800;
    line-height: 1;
    //margin-bottom: 7px;
    @include media(msp) {
        font-size: 20px;
    }
}
.branding__siteSlogan {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    opacity: 0.7;
    max-width: 20em;
    display: block;

    @at-root .am & {
        font-size: 12px;
    }
}