.copyright {
  font-weight: 300;
}
.copyright__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  @include media(msp) {
    display: block;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.copyright__text {
  color: $colorStyle;
}
.copyright__links {
  display: flex;
  align-items: center;
  @include media(msp) {
    margin-top: 15px;
    justify-content: center;
  }
}
.copyright__link {
  font-size: 12px;
  text-decoration: none;
  line-height: 1;
  //padding-bottom: 1px;
  border-bottom: 1px solid rgba(#fff, 0.3);
  margin-right: 45px;
  color: inherit;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    border-bottom-color: transparent;
  }
}
.copyright__socials {
  width: 250px;
}
.copyright__company {
  @include media(msp) {
    margin-bottom: 10px;
  }
}
.copyright__developer {
  a {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: rgba(#fff, 0.5);
    &:hover {
      text-decoration: none;
    }
  }
}