.creators {
  background-color: $colorBg;
  padding-bottom: 180px;
  @include media(mtl) {
    padding-top: 70px;
  }
  @include media(msl) {
    padding-bottom: 90px;
  }
}
.creators__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include media(msl) {
    display: block;
  }
}
.creators__heading {
  margin-bottom: 70px;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0 25%;
  @include media(msl) {
    padding: 0;
  }
}
.creators__person {
  width: 47%;
  box-shadow: $shadow;
  background-color: #fff;
  @include media(msl) {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    margin-bottom: 30px;
  }

  &.-alex .creators__image {
    @include media(msl-only) {
      margin-top: -10px;
    }
  }
  &.-timur .creators__image {
    @include media(msl-only) {
      margin-top: -140px;
    }
  }
}
.creators__imgWrp {
  position: relative;
  box-shadow: inset 0 0 80px 80px hsla(0, 0%, 0%, 1);
  overflow: hidden;
  @include media(msl-only) {
    height: 60vw;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #000 0%, transparent 100%);
    pointer-events: none;
    opacity: 0.5;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    left: 50%;
    background-image: linear-gradient(to left, #000 0%, transparent 100%);
    pointer-events: none;
    opacity: 0.5;
  }
}
.creators__image {
}
.creators__name {
  position: absolute;
  left: 25px;
  bottom: 40px;
  font-weight: 800;
  line-height: 1.2;
  font-size: 30px;
  color: #fff;
  max-width: 7em;
  @include media(mtp) {
    font-size: 24px;
    bottom: 20px;
  }
}
.creators__body {
  padding: 35px 50px 30px;
  font-size: 18px;
  @include media(mtp) {
    padding: 25px 30px 30px;
    font-size: 16px;
  }
  @include media(msp) {
    font-size: 14px;
  }
  ul {
    margin-top: 0;
    padding-left: 0;
    li {
      list-style-type: none;
      position: relative;
      margin-bottom: 1em;
      padding-left: 40px;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 13px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $colorStyle;
      }
    }
  }
}
.creators__socialList {
  position: absolute;
  top: 40px;
  right: 25px;
  padding-left: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  @include media(mtp) {
    top: 20px;
    right: 15px;
  }
}
.creators__socialItem {
  list-style-type: none;
  margin-bottom: 25px;
  margin-right: 0;
  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}
.creators__socialLink {
  display: block;
  font-size: 0;
  line-height: 0;
  color: transparent;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  transition-duration: 0.2s;
  &:hover {
    opacity: 0.7;
  }
}
