.faqBlock {
    background-color: $colorBg;
    @include media(msp) {
        padding-top: 70px;
        padding-bottom: 100px;
    }
}
.faqBlock__inner {}
.faqBlock__heading {
    text-align: center;
    margin-bottom: 50px;
}