$faqPaddings: 27px 80px 30px 40px;
$faqPaddings-m: 17px 60px 20px 20px;

.faq {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  font-size: 18px;
}
.faq__item {
  position: relative;
  border: 3px solid rgba($colorStyle, 0.3);
  margin-bottom: 20px;
  border-radius: 10px;
  transition-duration: 0.2s;
  &.-active {
    background-color: hsl(195, 45%, 97%);;
    border-color: rgba($colorStyle, 0.7);
    .faq__answer {
      display: block;
    }
    .faq__toggle {
      &::before {
        transform: translate(-50%, -50%) rotate(90deg);
        height: 30px;
        opacity: 0;
        @include media(msp) {
          height: 20px;
        }
      }
    }
  }
  &:hover {
    background-color: hsl(195, 45%, 97%);;
    border-color: rgba($colorStyle, 0.7);
  }
}
.faq__header {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  transition-duration: 0.2s;
  padding: $faqPaddings;
  cursor: pointer;
  user-select: none;
  position: relative;
  @include media(msl) {
    font-size: 18px;
  }
  @include media(msp) {
    padding: $faqPaddings-m;
    font-size: 16px;
  }
}
.faq__question {}
.faq__answer {
  display: none;
  padding: $faqPaddings;
  margin-top: -30px;
  @include media(msl) {
    font-size: 14px;
  }
  @include media(msp) {
    padding: $faqPaddings-m;
  }
}
.faq__toggle {
  $length: 25px;
  $width: 2px;
  $length-m: 16px;
  $width-m: 2px;

  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  line-height: 0;
  font-size: 0;
  color: transparent;
  width: $length;
  height: $width;
  background-color: $colorText;
  border-radius: 2px;
  opacity: 0.7;
  @include media(msp) {
    right: 15px;
    width: $length-m;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: $width;
    height: $length;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $colorText;
    border-radius: 2px;
    transition-duration: 0.3s;
    @include media(msp) {
      height: $length-m;
    }
  }
}
