.footer {
  padding-top: 70px;
  background-color: hsl(259, 30%, 20%);
  background-image: linear-gradient(-125deg, hsl(259, 30%, 20%), hsl(259, 30%, 10%));
  color: #fff;
  @include media(msl) {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  @include media(msp) {
    text-align: center;
  }
  .mainMenu {
    font-size: inherit;
  }
  .mainMenu__link.-lightButton,
  .mainMenu__link.-button {
    display: none;
  }
}
.footer__inner {
  @include grid;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  @include media(msl) {
    display: block;
  }
}
.footer__branding {
  @include media(msl) {
    margin-right: 50px;
    margin-bottom: 30px;
  }
  @include media(msp) {
    margin-right: 0;
  }
}
.footer__copyright {
  padding-bottom: 40px;
  @include media(msl) {
    font-size: 12px;
  }
}
.footer__soclinks {
  opacity: 0.5;
}