.form {
  &.-call {
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    position: relative;
    .fz152 {
      text-align: left;
      margin-right: auto;
      margin-left: auto;
    }
    .form__submit {
      margin-top: 40px;
    }
    .form__action {
      @include media(msp) {
        text-align: center;
      }
    }
  }
  &.-form-consultation,
  &.-form-register {
    .form__text {
      text-align: center;
    }
    .form__action {
      text-align: center;
      margin-top: 30px;
    }
  }
  &[data-hidden-form] {
    transition-delay: 0s;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transform: translateY(20px);
  }
}
.form__item {
  margin-bottom: 1em;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
  &[data-hidden-form] {
    transition-delay: 0s;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transform: translateY(20px);
  }
}
.form__fieldSet {
  display: flex;
  justify-content: space-between;
  border: none;
  .form__item {
    width: 45%;
  }
  .form__input {
    font-size: 16px;
    @include media(msp) {
      font-size: 14px;
    }
  }
}
.form__input {
  display: block;
  width: 100%;
  border: none;
  padding: 0 0 15px;
  border-bottom: 1px solid rgba(#fff, 0.5);
  background-color: transparent;
  font-size: 18px;
  color: inherit;
  @include media(msp) {
    font-size: 14px;
  }
  &::placeholder {
    color: rgba(#fff, 0.5);
  }
}
.form__text {
  margin-top: -20px;
  margin-bottom: 35px;
  font-size: 18px;
  @include media(msp) {
    font-size: 16px;
  }
}
.form__textarea {
}
.form__submit {
}
.form__select {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  color: inherit;
  border: none;
  border-bottom: 1px solid rgba(#fff, 0.5);
  font-size: 16px;
  @include media(msl) {
    font-size: 14px;
  }
}
.form__option {
  display: block;
  padding: 10px 0;
  background-color: transparent;
  line-height: 2;
  color: $colorText;
  //appearance: none;
}

.fz152 {
  font-size: 12px;
  opacity: 0.4;
}
.fz152__checkbox {
  position: absolute;
  text-replace: scale(0);
  opacity: 0;
  &:checked + label:before {
    width: 16px;
    height: 8px;
    border-top-style: none;
    border-right-style: none;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: 50% 50%;
  }
  & + label {
    position: relative;
    padding-left: 40px;
    display: block;
    cursor: pointer;
    a {
      color: inherit;
      text-decoration-color: rgba(#fff, 0.3);
    }
    &:before {
      content: "";
      width: 16px;
      height: 16px;
      border: 1px solid;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      transition: all 0.3s ease-in-out;
      top: 50%;
      transform: translateY(-50%)
    }
  }
}
.fz152__label {
}