.haveQuestions {
    padding-top: 0;
    background-color: $colorBg;
    text-align: center;
    @include media(msl) {
        padding-bottom: 90px;
    }
}
.haveQuestions__inner {}
.haveQuestions__heading {
    margin-bottom: 20px;
}
.haveQuestions__descr {
    margin-right: auto;
    margin-left: auto;
    max-width: 40em;
}
.haveQuestions__button {}
