.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 25px;
    padding-bottom: 15px;
    color: #fff;
    z-index: 2;
}
.header__inner {
    @include grid;
    width: $md;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(mtl) {
        width: auto;
    }
}
.header__branding {}
.header__menu {}
.header__social {
    position: absolute;
    top: calc(100% + 10px);
    //top: 20px;
    right: 0;
    z-index: 2;
    @include media(mtl) {
        right: 20px;
        top: calc(100% + 30px);
    }
    @include media(msl-only) {
        position: static;
    }
    @include media(msp) {
        top: calc(100% + 23px);
        left: 10px;
    }
}
