body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: $fontText;
  color: $colorText;
  font-weight: 3-00;
}

.page-content {
  background-position-y: 35%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

* {
  outline: none;
}

a {
  display: inline-block;
  color: $colorStyle;
  text-decoration: underline;
  text-decoration-color: rgba($colorStyle, 0.3);
  &:hover {
    text-decoration: none;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontTitle;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.5em;
  color: inherit;
}

.slick-dots {
  margin: 0;
  padding: 0;
  width: 1170px;
  position: absolute;
  bottom: 45px;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  li {
    padding: 0;
    margin: 0;
    margin-right: 18px;
    &:last-child {
      margin-right: 0;
    }
  }
  button {
    display: block;
    color: transparent;
    font-size: 0;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    background-color: #b7b7b8;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scale(3);
    }
    &:hover {
      background-color: rgba(#818181, 0.8);
    }
  }
  .slick-active {
    button {
      opacity: 1;
      background-color: #818181;
    }
  }
}

.phone {
  line-height: 1;
  color: inherit;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  padding-left: 25px;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background-image: url(../images/icons/i-phone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &.-selected {
    color: #fff;
  }
  &.-noticon {
    padding-left: 0;
    &::before {
      content: none;
    }
  }

}

.mail {
  line-height: 1;
  color: inherit;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  padding-left: 25px;
  &::before {
    content: '';
    display: block;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background-image: url(../images/icons/i-mail.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.anchor {
  position: relative;
  top: -100px;
}
