.mainMenu {
    font-family: $fontTitle;
    font-size: 14px;
    @include media(mtp) {
        font-size: 12px;
    }
    @include media(msl) {
        display: none;
    }
}
.mainMenu__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.mainMenu__item {
    margin: 0;
    padding: 0;
    margin-right: 40px;
    @include media(mtl) {
        display: none;
    }
    @include media(mtp) {
        margin-right: 20px;
    }
    &:last-child {
        margin-right: 0;
    }
    &.-button {
        @include media(mtl) {
            display: block;
        }
    }
}
.mainMenu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    color: inherit;
    transition-duration: 0.1s;
    //border-top: 3px solid transparent;
    //border-bottom: 3px solid transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    &.-lightButton,
    &.-button {
        padding: 17px 28px;
        font-size: inherit;
        @include media(mtp) {
            padding: 15px 18px;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: -10+px;
        background-color: #fff;
        transition-duration: 0.2s;
    }
    &:hover {
        //border-bottom-color: hsla(0,0%,100%,0.3);
        &::after {
            opacity: 0.3;
            bottom: 0;
        }
    }
    &.-active {
        //border-bottom-color: hsla(0,0%,100%,1);
        &::after {
            opacity: 1;
            bottom: 0;
        }
    }
    &.-expanded {
        padding-right: 14px;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            right: 0;
            width: 7px;
            height: 7px;
            background-image: url(../images/icons/i-expanded.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}