.modal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  overflow-y: hidden;

  &:target {
    visibility: visible;
    background-color: hsla(0, 0%, 0%, 0.7);
    overflow-y: auto;
    .modal__bg {
      opacity: 0.38;
    }
    .modal__inner {
      transform: translateY(0);
      opacity: 1;
      @include media(mtp) {
        //transform: translateX(-50%);
      }
    }
  }
}

.modal__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.1s;
  opacity: 0;
  color: #444;
  background-color: hsl(0, 0, 26);
}

.modal__inner {
  position: relative;
  //top: 50%;
  //left: 50%;
  margin-top: 10vh;
  margin-bottom: 50px;
  box-sizing: border-box;
  width: 590px;
  padding: 50px 85px 60px;
  transition-duration: 0.2s;
  transform: translateY(-20%);
  opacity: 0;
  background-color: #fff;
  background-image: $gradient;
  color: #fff;
  border-radius: 15px;

  @include media(mtp) {
    top: 0;
    //transform: translateX(-50%);
  }

  @include media(msl) {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media(msp) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    border: 1px dashed #fff;
    opacity: 0.3;
    pointer-events: none;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border-radius: 15px;
  }
}

.modal__title {
  font-size: 29px;
  font-weight: 700;
  line-height: 1.103;
  margin-bottom: 40px;
  text-align: center;

  @include media(msl) {
    font-size: 20px;
  }
}

.modal__body {
  margin-bottom: 30px;
  line-height: 1.625;
  @include media(mtp) {
    font-size: 14px;
    margin-bottom: 20px;
  }
  @include media(msp) {
    font-size: 12px;
  }
}

.modal__form {
}

.modal__smallText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 11px;
  line-height: 1.2;
  &::before {
    content: url(../images/lock.jpg);
    display: block;
    margin-right: 10px;
  }
}

.modal__closer {
  position: absolute;
  top: 30px;
  right: 35px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  color: transparent;
  background-image: url(../images/closer-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 0;
  line-height: 0;
  @include media(msl) {
    top: 15px;
    right: 20px;
  }
  &:hover {
    opacity: 0.5;
  }
}

.modal__fz152 {
  font-size: 10px;
  color: hsl(0, 0, 53);
}

.imageModal {
  img {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: auto;
    max-height: 90vh;
    max-width: 90vw;
    @include media(mtl-only) {
      width: auto;
      height: 100%;
    }
    @include media(msl-only) {
      width: auto;
      height: 100%;
    }
  }
}

.scrollLock {
  overflow: hidden;
}
