.offer {
  padding-bottom: 180px;
  background-color: darken($colorStyle, 10%);
  background-image: url('../images/bg/cubes@2X.png'), $gradient;
  background-repeat: repeat, no-repeat;
  color: #fff;
  position: relative;
  box-shadow: inset 0 70px 70px -70px rgba(#000, 0.7),
  inset 0 -70px 70px -70px rgba(#000, 0.7);
  @include media(msl) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    background-image: url(../images/bg/pattern.png);
    background-size: auto 100%;
    background-repeat: repeat-x;
  }
  &::before {
    top: 0;
    transform: rotate(180deg);
  }
}
.offer__inner {
}
.offer__heading {
  text-align: center;
  margin-bottom: 100px;
  @include media(msl) {
    margin-bottom: 50px;
  }
}
.offer__list {
  margin-top: 0;
  padding-left: 0;
  counter-reset: number;
}
.offer__item {
  list-style-type: none;
  max-width: 57%;
  margin-bottom: 110px;
  position: relative;
  @include media(mtp) {
    max-width: 72%;
  }
  @include media(msl) {
    max-width: 100%;
    margin-bottom: 60px;
  }
  &::before {
    content: '0' counter(number);
    display: block;
    counter-increment: number;
    line-height: 1;
    font-size: 160px;
    font-weight: 800;
    opacity: 0.1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
  }
  &:first-child {
    //margin-left: 6%;
  }
  &:nth-child(2) {
    margin-left: 24%;
    @include media(msl) {
      margin-left: 0;
    }
  }
  &:nth-child(3) {
    margin-left: 6%;
    @include media(msl) {
      margin-left: 0;
    }
  }
  &:nth-child(4) {
    margin-left: 31%;
    @include media(msl) {
      margin-left: 0;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.offer__title {
  font-size: 24px;
  margin-bottom: 10px;
  padding-right: 20%;
  @include media(msl) {
    font-size: 20px;
    margin-bottom: -10px;
  }
}
.offer__body {
  font-size: 18px;
  @include media(msl) {
    font-size: 16px;
  }
}
