.orderPlace {
  padding-top: 130px;
  padding-bottom: 180px;
  background-image: $gradient;
  background-color: $colorStyle;
  color: #fff;
  @include media(mtp) {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 140px;
  }
  @include media(msp) {
    text-align: left;
    padding-top: 80px;
    padding-bottom: 110px;
  }
}
.orderPlace__inner {
  display: flex;
  justify-content: space-between;
  @include media(mtp) {
    display: block;
  }
}
.orderPlace__main {
  max-width: 50%;
  @include media(mtp) {
    max-width: unset;
    margin-bottom: 40px
  }
}
.orderPlace__form {
  padding-top: 30px;
  max-width: 400px;
  position: relative;
}
.orderPlace__heading {
  margin-right: auto;
  margin-left: auto;
  max-width: 22em;
}
.orderPlace__descr {
  margin-right: auto;
  margin-left: auto;
  max-width: 40em;
  margin-bottom: 0;
}
/* Вертикальная версияк
.orderPlace {
    background-image: $gradient;
    background-color: $colorStyle;
    color: #fff;
    text-align: center;
}
.orderPlace__inner {}
.orderPlace__heading {
    margin-right: auto;
    margin-left: auto;
    max-width: 22em;
}
.orderPlace__descr {
    margin-right: auto;
    margin-left: auto;
    max-width: 40em;
    margin-bottom: 70px;
}
*/
