.search {
    position: relative;
    font-size: 14px;
    line-height: 1;
    &__input {
        background-color: #fff;
        border: none;
        padding: 10px 45px 10px 15px;
        &::placeholder {
            color: $color-text-2;
        }
    }
    &__button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 36px;
        display: block;
        border: none;
        padding: 0;
        background-color: #fff;
        color: transparent;
        font-size: 0;
        background-image: url(../images/i-search.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        cursor: pointer;
        transition-duration: 0.2s;
        &:hover {
            background-size: 60%;
        }
    }
}