.social {
  display: flex;
  align-items: center;

  @at-root .footer & {
    @include media(msp) {
      justify-content: center;
    }
  }
}
.social__label {
  margin-right: 30px;
}
.social__items {
  display: flex;
  align-items: center;
}
.social__item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }

  @at-root footer & {
    margin-right: 30px;
    @include media(msl) {
      margin-right: 15px;
    }
  }
}
.social__link {
  display: block;
  color: transparent;
  font-size: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &.-wa {
    background-image: url(../images/social/whatsapp.svg);
  }
  &.-tg {
    background-image: url(../images/social/telegram.svg);
  }
  &.-vk {
    background-image: url(../images/social/vk.svg);
  }
  &.-fb {
    background-image: url(../images/social/facebook.svg);
  }
  &.-inst {
    background-image: url(../images/social/instagram.svg);
  }
  //&.-tw {background-image: url(../images/social/twitter.png);}
  //&.-ok {background-image: url(../images/social/odnoklassniki.png);}
  &:hover {
    opacity: 0.5;
  }

  @at-root footer & {
    width: 30px;
    height: 30px;
    @include media(msl) {
      width: 20px;
      height: 20px;
    }
  }
}