.titer {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $colorStyle;
  background-image: $gradient;
  color: #fff;
  position: relative;
  height: 100vh;
  min-height: 770px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  @include media(msl) {
    min-height: unset;
    height: auto;
    display: block;
    padding-top: 120px;
    padding-bottom: 100px;
  }
  @include media(msp) {
    padding-top: 150px;
    padding-bottom: 120px;
  }
}
.titer__inner {
}
.titer__heading {
  font-size: 40px;
  @include media(mtp) {
    font-size: 34px;
  }
  @include media(msl) {
    font-size: 26px;
    margin-bottom: 20px;
  }
  @include media(msp) {
    font-size: 28px;
  }
}
.titer__start {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 20px;
  color: rgba(#fff, 0.7);
  @include media(msl) {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.titer__descr {
  font-size: 24px;
  opacity: 0.6;
  max-width: 26em;
  margin-bottom: 60px;
  @include media(mtp) {
    font-size: 22px;
  }
  @include media(msl) {
    font-size: 20px;
    margin-bottom: 40px;
  }
  @include media(msp) {
    font-size: 18px;
  }
}
.titer__buttons {
  .button {
    margin-right: 30px;
    @include media(msl) {
      margin-right: 20px;
    }
    @include media(msp) {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.titer__button {
}
.titer__factoid {
  display: none;
}
.titer__next {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  transition-duration: 0.2s;
  &:hover {
    opacity: 1;
  }
  &::after {
    content: '';
    display: block;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 24px;
    height: 20px;
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 100%;
  }
}