@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Exo+2:800,900');
//=====================================
//=grid
//=====================================
@lost flexbox flex;

$mb-resp: 2.463328vw;
$md: 1170px;
$mtl: 980px;
$mtp: 768px;
$msl: 480px;
$msp: 320px;
//=====================================
//=End of grid
//=====================================



//=====================================
//=variables
//=====================================
$colorStyle: hsl(259, 30%, 42%);
//$colorAlt01: hsl(30, 100%, 55%);
$colorAlt01: hsl(30, 50%, 55%);
$colorAccent: $colorStyle;
$colorLink: $colorStyle;
$colorButton: $colorAlt01;
$colorText: hsl(0,0%,20%);
$colorTitle: hsl(0,0%,20%);
$colorBg: hsl(195,45%,95%);

$fontTitle: 'Open Sans', sans-serif;
$fontText: 'Open Sans', sans-serif;

$gradient: linear-gradient(-30deg, rgba(#000,0.3) 0%, transparent 100%), linear-gradient(-290deg, darken($colorStyle,15%) 40%, $colorAlt01 150%);
$gradientLight: linear-gradient(-30deg, rgba(#000,0.1) 0%, transparent 100%), linear-gradient(-290deg, darken(rgba($colorStyle,0.4),15%) 40%, rgba($colorAlt01,0.4) 150%);
$gradientButton: linear-gradient(20deg, hsl(259, 50%, 42%) 0%, $colorAlt01 100%);

$shadow: 0 6px 40px -2px hsla(259, 30%, 20%,0.5);
//=====================================
//=End of variables
//=====================================

//=====================================
//=mixins
//=====================================
@mixin media($break-point) {
    @if $break-point == retina {
        @media only screen and (-webkit-min-device-pixel-ratio: 2), /* для Safari, Safari IOS */
        only screen and (min-resolution: 192dpi), /* для IE 10, IE 11, Opera Mini */
        only screen and (min-resolution: 2dppx) {
            @content;
        }
    }
    @if $break-point == md {
        @media screen and (min-width: ($md+100px)) {
            @content;
        }
    } @else if $break-point == mtl {
        @media screen and (max-width: ($md+99px)) {
            @content;
        }
    } @else if $break-point == mtl-only {
        @media screen and (max-width: ($md+99px)) and (min-width: $mtl) {
            @content;
        }
    } @else if $break-point == mtp {
        @media screen and (max-width: ($mtl+-1px)) {
            @content;
        }
    } @else if $break-point == mtp-only {
        @media screen and (max-width: ($mtl+-1px)) and (min-width: $mtp) {
            @content;
        }
    } @else if $break-point == msl {
        @media screen and (max-width: ($mtp+-1px)) {
            @content;
        }
    } @else if $break-point == msl-only {
        @media screen and (max-width: ($mtp+-1px)) and (min-width: $msl) {
            @content;
        }
    } @else if $break-point == msp {
        @media screen and (max-width: ($msl+-1px)) {
            @content;
        }
    }
}
@mixin grid {
    box-sizing: border-box;
    max-width: $md;
    margin-right: auto;
    margin-left: auto;
    @include media(mtl) {
        padding-right: 20px;
        padding-left: 20px;
    }
    @include media(msl) {
        padding-right: 10px;
        padding-left: 10px;
    }
}
@mixin disable-grid {
    max-width: unset;
    @include media(mtl) {
        padding-right: initial;
        padding-left: initial;
    }
    @include media(msl) {
        padding-right: initial;
        padding-left: initial;
    }
}

@mixin buttonBase {
    padding: 22px 40px;
    text-decoration: none;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    transition-duration: 0.2s;
    cursor: pointer;
    @include media(msl) {
        font-size: 14px;
        padding: 19px 23px;
    }
}
@mixin button($type: 'normal') {
    @if $type == 'normal' {
        background-color: transparent;
        overflow: hidden;
        color: #fff;
        box-shadow: 0 6px 40px -2px hsla(259, 30%, 20%,0.5);
        position: relative;
        z-index: 2;
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: auto;
            opacity: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: $gradientButton;
            background-color: transparent;
            transition-duration: 0.3s;
            z-index: -1;
        }
        &:hover {
            background-color: darken($colorButton, 5%);
            border-color: darken($colorButton, 5%);
            box-shadow: 0 6px 40px -20px hsla(259, 30%, 20%,0.5);
            &::after {
                right: -200%;
                opacity: 1;
                background-color: transparent;
            }
        }
    }
    @if $type == 'light' {
        background-color: transparent;
        box-shadow: 0 6px 40px -2px hsla(259, 30%, 20%,0.5),
                    inset 0 0 0 1px;
        color: inherit;
        background-image: none;
        &::after {
            content: none;
        }
        &:hover {
            background-color: rgba(#000,0.1);
            box-shadow: 0 6px 40px -20px hsla(259, 30%, 20%,0.5), inset 0 0 0 1px;
        }
    }
}
//=====================================
//=End of mixins
//=====================================