.why {
    padding-top: 130px;
    padding-bottom: 180px;
    background-color: $colorBg;
    @include media(mtl) {
        padding-top: 100px;
        padding-bottom: 130px;
    }
    @include media(msl) {
        padding-top: 60px;
        padding-bottom: 90px;
    }
}
.why__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include media(msl) {
        display: block;
    }
}
.why__main {
    lost-column: 6/12;
    @include media(msl) {
        lost-column: 1/1;
    }
}
.why__heading {
    margin-bottom: 15px;
}
.why__descr {}
.why__aftermaths {
    width: 40%;
    @include media(mtl) {
        width: 43%;
    }
    @include media(msl) {
        width: auto;
        padding-left: 70px;
    }
    @include media(msp) {
        padding-left: 0;
    }
}
.why__aftermath {
    display: flex;
    margin-bottom: 20px;
    font-size: 22px;
    position: relative;
    @include media(mtl) {
        font-size: 20px;
    }
    @include media(mtl) {
        font-size: 18px;
    }
    @include media(msp) {
        font-size: 16px;
    }
    &::before {
        content: '';
        display: block;
        height: 3px;
        width: 30px;
        background-color: $colorStyle;
        line-height: 1;
        flex-shrink: 0;
        margin-right: 20px;
        margin-top: 15px;
    }
}
.why__goodTraining {
    margin-top: 70px;
    text-align: center;
    font-size: 26px;
    padding: 25px 80px;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(20deg, rgba(#fff,0.2) 0%, transparent 100%);
    @include media(mtl) {
        width: 720px;
    }
    @include media(msl) {
        width: 100%;
        margin-top: 50px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 20px;
    }
    strong,
    span {
        color: $colorStyle;
        font-weight: 800;
    }
    span {
        display: block;
        font-size: 50px;
        @include media(msl) {
            font-size: 40px;
        }
    }
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        top: 0;
        bottom: 0;
        border: 2px solid $colorStyle;
    }
    &::before {
        left: 0;
        border-right: none;
    }
    &::after {
        right: 0;
        border-left: none;
    }
}
