-
    var faq = [
    {
    question: 'В каком формате проходят курсы?',
    answer: 'Формат онлайн образования устрен по принципу чередования теории и практики. Всего вам будет предложено пройти 8 Модулей, каждый из которых включают в себя 7-8 тем. Каждая тема начинается с необходимой теоретической части, после которой следует решение практических задач. В конце каждого модуля нужно будет пройти тест, после чего вам будет открыт доступ к слудующему модулю. Когда вы пройдете все модули вам будет открыт доступ к многочисленным пробным экзаменам, которые вы можете решать регулярно и следить за вашими успехами.'
    },
    {
    question: 'Когда начинается курс?',
    answer: 'Официальный запуск курса запланирован на 01.07.2018. После запуска записаться на курс можно будет в любое время, после записи и оплаты курса в течение 2-ух дней вам будет предоставлен доступ на него.'
    },
    {
    question: 'Можно ли проконсультироваться по процессу поступления в Германию?',
    answer: 'Вы можете записаться на бесплатную консультацию по вопросам поступления и учебы в Германии.'
    },
    {
    question: 'Как действует возврат денег, при отказе от курса?',
    answer: 'Если вы после оплаты курса вы прошли менее 20% от курса и решили, что вам не подходит этот способ обучения, вы можете потребовать возврат оплаченных вами денежных средств.'
    },
    {
    question: 'Можно ли пройти пробный урок без оплаты?',
    answer: 'Первый модуль с 2-мя уроками бесплатный, вы сможете посмотреть структуру и оценить качество материала. После пробного урока нужно будет заплатить 179 евро, чтобы открыть курс полностью.'
    }
    ];
    var offer = [
    {
    title: 'Специализированный онлайн-курс по математике',
    body: 'Данный курс подготовит вас к вступительному экзамену в любой Studienkolleg в Германии, вы научитесь самостоятельно думать с нашей поддержкой. Наш курс составлен с применением 2-ух языков Русский и Немецкий.'
    },
    {
    title: 'Русский и немецкий языки в обучении',
    body: 'Основные объяснения ведутся на русском языке, так как восприятие информации на родном языке всегда быстрее. Формулировки заданий дублируются на немецком языке для лучшей подготовки к реальному экзамену. Мы постепенно научим вас понимать академическую лексику на немецком языке.'
    },
    {
    title: 'Дополнительное занятие полностью на немецком языке!',
    body: 'На экзамене вам будут встречаться задания, в которых требуется сформулировать систему уравнений по тексту. Этот отдельный урок мы ведем полностью на немецком языке для симуляция условий максимально приближенных к реальному экзамену.'
    },
    {
    title: 'Гарантированный результат',
    body: 'Мы гарантируем, что каждый, кто пройдет наш курс, сможет успешно сдать вступительный экзамен по математике в Studienkolleg.'
    }
    ];