+b.NAV.mainMenu
    +e.UL.menu
        +e.item.-active: +e.link.-active(href="#") Курс
        +e.item: +e.link(href="#advantages") Преимущества
        +e.item: +e.link(href="#creators") Создатели
        +e.item: +e.link(href="#faqBlock") FAQ
        +e.item.-button: +e.link.-lightButton.button.-light(href="#modal-consultation" data-modal-button) Бесплатная консультация
        +e.item.-button: +e.link.-button.button(href="#modal-register" data-modal-button) Записаться на курс
