mixin modal(id)
    +b.modal(id=id)
        block content

mixin social(labeled)
    +b.social
        if labeled
            +e.label Мы в социальных сетях:
        +e.items
            +e.item: +e.link.-wa(href="https://api.whatsapp.com/send?phone=79670570807&text=text=Привет!%20Я%20думаю%20принять%20участие%20в%20вашем%20курсе.%20Хотел%20бы%20узнать%20подробнее%20про%20обучение." target="_blank") wa
            +e.item: +e.link.-tg(href="//t.me/TimoBrave" target="_blank") tg
            +e.item: +e.link.-vk(href="https://vk.com/stk_express" target="_blank") vk
            +e.item: +e.link.-inst(href="https://www.instagram.com/studienkolleg.express" target="_blank") inst
            +e.item: +e.link.-fb(href="https://www.facebook.com/groups/212111906179957/" target="_blank") fb
            //+e.item: +e.link.-tw(href="#") tw
            //+e.item: +e.link.-ok(href="#") ok

mixin phone
    - var phoneHref = site.phone.replace(/[\ /\(/\)/-]/g,'')
    a.phone(href="tel:" + phoneHref)= site.phone

mixin mail
    a.mail(href="mailto:" + site.mail)= site.mail

// Branding of the site
mixin branding(logo,name,slogan,altLogo,mod)
    +b.branding(href="/" class= mod ? mod : '')
        if logo
            +e.logo: img(src= altLogo ? site.altLogo : site.logo)
        if (name || slogan)
            +e.nameAndSlogan
                if name
                    +e.siteName= site.name
                if slogan
                    +e.siteSlogan= site.slogan

mixin slider(name,arrows, dots)
    +b.slider(class= name ? "-" + name : "")
        +e.slides(class= name ? "-" + name : "")
            block
        if arrows
            +e.arrows(class= name ? "-" + name : "")
                +e.BUTTON.arrow.-prev <
                +e.BUTTON.arrow.-next >
        if dots
            +e.dots(class= name ? "-" + name : "")
                +e.dot
                +e.dot
                +e.dot

mixin anchor(id)
    +e.anchor.anchor(id=id)

mixin form(mod, button, action)
    +b.FORM.form(id= mod ? mod : '' class= mod ? '-' + mod : '' action= action ? action : '/' method='POST')
        block
        //+e.item
        //    +e.INPUT.input(type="text" placeholder="Имя")
        //+e.item
        //    +e.INPUT.input(type="text" placeholder="Имя")
        //+e.item
        //    +e.INPUT.input(type="text" placeholder="Телефон" data-js-phone)
        //+e.item
        //    +e.TEXTAREA.textarea(placeholder="Сообщение")
        +b.fz152
            +e.INPUT.checkbox(type="checkbox" checked="checked" value="Согласие на обработку данных" name="fz152" id="fz152" required)
            +e.LABEL.label(for="fz152") Я даю свое согласие на обработку персональных данных и соглашаюсь с <a href="#" target="_blank">политикой конфиденциальности</a>
        +e.action
            +e.BUTTON.submit.button(type="submit")=button

mixin formItem(type, placeholder, requared)
    +e.item
        case type
            when 'text'
                +e.INPUT.input(type="text" placeholder=placeholder)
            when 'email'
                +e.INPUT.input(type="email" placeholder=placeholder)
            when 'tel'
                +e.INPUT.input(type="tel" placeholder=placeholder)
            when 'textarea'
                +e.TEXTAREA.textarea(placeholder=placeholder)

mixin faq(content)
    // в качестве контента получает json
    +b.faq
        if !content
            div.pug-error +faq: В миксин не передан контент
        else
            for i in content
                +e.item
                    +e.header
                        +e.question !{i.question}
                        +e.toggle +
                    +e.answer !{i.answer}
