extend ../layout/layout.pug

block vars
    - var body_classes = ['front','no-sidebar'];
    - var title = 'Главная'

block content
    +b.titer__.block
        +e.inner.block__inner
            +e.start Старт 01.07.2018
            +e.H1.heading.block__heading Онлайн-курс по подготовке к вступительному экзамену по математике в Штудиенколлег в Германии
            +e.descr.block__descr Повысь шансы на успешную сдачу экзамена по математике с опытными преподавателями
            +e.buttons
                +e.button.button(href="#modal-register" data-modal-button) Записаться на курс
                +e.button.button.-light(href="#modal-consultation" data-modal-button) Бесплатная консультация
            +e.factoid Разработан на базе опыта студента, закончившего Studienkolleg с отличиеми и квалифицированного педагога по математике
            +e.next(href="#why") Узнать подробности
    +b.why__.block
        +anchor('why')
        +e.inner.block__inner
            +e.main
                +e.H2.heading.block__heading Зачем готовиться к Aufnahmetest
                +e.descr.block__descr После хорошей подготовки к Aufnahmetest вы сможете обеспечить себе высокий шанс на поступление в Studienkolleg
            +e.aftermaths
                +e.aftermath 5 из 6 не проходят в Штудиенколлег
                +e.aftermath Причина недостаточного результата - непроинформированность в темах и недостаточная подготовка
            +e.goodTraining Хорошая подготовка <strong>увечиливает шанс</strong> на прохождение <span>до 92%</span>
    +b.offer__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Мы предлагаем
            +e.UL.list
                for i in offer
                    +e.item
                        +e.H3.title= i.title
                        +e.P.body= i.body
    +b.advantages__.block
        +anchor('advantages')
        +e.inner.block__inner
            +e.H2.heading.block__heading Преимущества нашего онлайн курса
            +e.comparison
                +e.item.-course
                    +e.title Онлайн курс Mathe-Express
                    +e.body
                        ul
                            li Отдельный урок по математической лексике на немецком языке
                            li Составлен на личном опыте прохождения вступительного теста Aufnahmeprüfung
                            li Решение текстовых задач на немецком языке с преподавателем из Германии
                +e.item.-tutor
                    +e.title Репетитор
                    +e.body
                        ul
                            li Большинство репетиторов не обладают знаниями математической лексики на немецком языке
                            li Нет опыта написания экзамена по немецкой системе, нет понимания четких приоритетов
                            li Текстовые задачи на немецком языке игнорируются репетиторами, хотя они встречаются на каждом экзамене
    +b.advList__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Наш курс это удобно и эффективно
            +e.UL.list
                +e.item Уроки можно проходить на любых устройствах с компьютера, планшета и мобильных девайсов
                +e.item Занятия открываются по мере прохождения курса, вы не будете зависеть от времени
                +e.item После окончания обучения вы будете отлично подготовлены для успешной сдачи Aufnahmeprüfung
                +e.item Вернем деньги, если вам не понравится
            +e.A.button.button(href="#modal-consultation" data-modal-button) Бесплатная консультация
    +b.creators__.block
        +anchor('creators')
        +e.inner.block__inner
            +e.H2.heading.block__heading Разработчики онлайн курса
            +e.person.-alex
                +e.imgWrp
                    +e.IMG.image(src="./files/creators/alex-05.jpg")
                    +e.name Александра Казеннова
                    - //+e.UL.socialList
                        - //+e.socialItem.social__item: +e.socialLink.social__link.-vk(href="#" target="_blank") vk
                        - //+e.socialItem.social__item: +e.socialLink.social__link.-fb(href="#" target="_blank") fb
                        - //+e.socialItem.social__item: +e.socialLink.social__link.-tg(href="#" target="_blank") tg
                        - //+e.socialItem.social__item: +e.socialLink.social__link.-inst(href="#" target="_blank") inst

                +e.body
                    ul
                        li Преподаватель математики и информатики
                        li Образование: Математический факультет МПГУ по специальности «Учитель математики и информатики»
                        li 6-тилений опыт педагогической деятельности со школьниками разного возраста, в т.ч. подготовка к ЕГЭ, ОГЭ
            +e.person.-timur
                +e.imgWrp
                    +e.IMG.image(src="./files/creators/timur-02.jpg")
                    +e.name Тимур Ибраев
                    - //+e.UL.socialList.social
                        - //+e.socialItem.social__item: +e.socialLink.social__link.-vk(href="#" target="_blank") vk
                        - //+e.socialItem.social__item: +e.socialLink.social__link.-fb(href="#" target="_blank") fb
                        - //+e.socialItem.social__item: +e.socialLink.social__link.-tg(href="#" target="_blank") tg
                +e.body
                    ul
                        li Лучший учащийся студенческой коллегии Studienkolleg Nordhausen за 2014/15 Год
                        li Образование: Технический университет Берлина по специальности «Экономика и Информатика» B.Sc.
                        li Опыт прохождения Aufnaheprüfung, знания немецкой системы экзаменации, преподавание на немецком языке
    +b.orderPlace__.block
        +e.inner.block__inner
            +e.main
                +e.H2.heading.block__heading Оставьте номер телефона и получите бесплатное занятие
                +e.descr.block__descr Отправьте номер телефона, по которому мы могли бы связаться с вами и рассказать о наших курсах и бесплатном занятии
            +e.form
                +form('call','Отправить')
                    +e.item(hidden)
                        +e.INPUT.input(type='text' name="form-title" value='Оставьте номер телефона и получите бесплатное занятие')
                    +e.item
                        +e.INPUT.input(type="tel" name="phone" placeholder='Ваше телефон' required)
                    +e.item(data-hidden-form)
                        +e.P.text Спасибо! Ваш телефон отправлен, мы свяжемся с вами в ближайшее время. Вы можете отправить еще некоторую информацию о себе.
                    +e.fieldSet
                        +e.item(data-hidden-form)
                            +e.INPUT.input(type='text' name="name" placeholder='Ваше имя')
                        +e.item(data-hidden-form)
                            +e.INPUT.input(type='email' name="email" placeholder='Ваш e-mail')
                    +e.item(data-hidden-form)
                        +e.SELECT.select(name="i-am: " form='call')
                            +e.OPTION.option(value="unselect" selected) Я являюсь
                            +e.OPTION.option(value="Выпускник") Выпускник
                            +e.OPTION.option(value="Студени") Студент
                            +e.OPTION.option(value="Родитель") Родитель
                    +e.item(data-hidden-form)
                        +e.SELECT.select(name="math" form='call')
                            +e.OPTION.option(value="unselect" selected) Знания математики?
                            +e.OPTION.option(value="плохие") Плохие
                            +e.OPTION.option(value="средние") Средние
                            +e.OPTION.option(value="высокие") Высокие
                    +e.item(data-hidden-form)
                        +e.SELECT.select(name="germany" form='call')
                            +e.OPTION.option(value="unselect" selected) Знания немецкого?
                            +e.OPTION.option(value="плохие") Плохие
                            +e.OPTION.option(value="средние") Средние
                            +e.OPTION.option(value="высокие") Высокие
    +b.faqBlock__.block
        +anchor('faqBlock')
        +e.inner.block__inner
            +e.H2.heading.block__heading Часто задаваемые вопросы
            +faq(faq)
    +b.haveQuestions__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Остались вопросы?
            +e.descr.block__descr Оставьте свои данные и мы вам перезвоним и бесплатно проконсультируем по любым вопросам, касаемо данного курса
            +e.button.button(href="#modal-consultation" data-modal-button) Бесплатная консультация


block under-footer
    .modal#modal-register
        .modal__inner
            a.modal__closer(href="#close")
            h2.modal__title Записаться на курс
            +form('form-register','Записаться на курс')
                +e.item(hidden)
                    +e.INPUT.input(type='text' name="form-title" value='Записаться на курс')
                +e.item
                    +e.INPUT.input(type='text' name="name" placeholder='Ваше имя')
                +e.item
                    +e.INPUT.input(type='email' name="email" placeholder='Ваш e-mail')
                +e.item.-required
                    +e.INPUT.input(type="tel" name="phone" placeholder='Ваше телефон' required)
                +e.item
                    +e.SELECT.select(name="i-am: " form='call')
                        +e.OPTION.option(value="unselect" selected) Я являюсь
                        +e.OPTION.option(value="Выпускник") Выпускник
                        +e.OPTION.option(value="Студени") Студент
                        +e.OPTION.option(value="Родитель") Родитель
                +e.item
                    +e.SELECT.select(name="math" form='call')
                        +e.OPTION.option(value="unselect" selected) Знания математики?
                        +e.OPTION.option(value="плохие") Плохие
                        +e.OPTION.option(value="средние") Средние
                        +e.OPTION.option(value="высокие") Высокие
                +e.item
                    +e.SELECT.select(name="germany" form='call')
                        +e.OPTION.option(value="unselect" selected) Знания немецкого?
                        +e.OPTION.option(value="плохие") Плохие
                        +e.OPTION.option(value="средние") Средние
                        +e.OPTION.option(value="высокие") Высокие

    .modal#modal-consultation(hidden)
        .modal__inner
            a.modal__closer(href="#close")
            h2.modal__title Записаться на бесплатную консультацию
            +form('form-consultation','Записаться на консультацию')
                +e.item(hidden)
                    +e.INPUT.input(type='text' name="form-title" value='Записаться на бесплатную консультацию')
                +e.item
                    +e.INPUT.input(type='text' name="name" placeholder='Ваше имя')
                +e.item
                    +e.INPUT.input(type='email' name="email" placeholder='Ваш e-mail')
                +e.item.-required
                    +e.INPUT.input(type="tel" name="phone" placeholder='Ваше телефон' required)

