+e.inner
    +e.main
        +e.branding
            +branding(null,1,1,0,'-footer')
        +e.menu
            include ../base/main-menu
        +e.social
            +social
    +e.copyright
        include ../base/copyright