+e.inner
    +e.branding
        +branding(false,true,false,false,false)
    +e.menu
        include ../base/main-menu
    +e.social
        +social
    //+e.contacts
    //    +e.messanger.-whatsApp
    //        +e.label WhatsApp:
    //        +e.link(href="#") +7-967-057-08-07
    //    +e.messanger.telegram
    //        +e.label Telegram:
    //        +e.link(href="#") +7-967-057-08-07
