doctype html

include ../../libs/bemto/bemto
include ../base/content
include ../base/mixins

-
    var body_classes = ['front','no-sidebar'];
    var site = {
        phone: '8 800 707-95-97',
        mail: 'info@gmail.ru',
        name: 'STK Express',
        slogan: 'Онлайн-курс по подготовке к вступительному экзамену по математике в Штудиенколлег в Германии',
        logo: './files/logo.png',
        altLogo: './files/logo.png'
    };
    var css = './css/styles.css';
    var js = './js/all.min.js';

block vars

head
    title !{site.name} | #{title}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    link(rel="stylesheet" href=css)

html
    body(class=body_classes)
        include ../base/animated-menu
        .layout-content
            +b.HEADER.header
                if body_classes.indexOf('front') != -1
                    include header.pug
                else
                    include header--notfront.pug

            .main.page-content
                block content

                if body_classes.indexOf('sidebar') != -1
                    aside.layout-sidebar-first
                        .region.region-sidebar-first
                            .region-inner
                                block sidebar

            +b.FOOTER.footer
                include footer.pug
        block under-footer
        script(type="text/javascript" src=js)